<form class="mt-4" (ngSubmit)="addEvent()">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="newEvent.nombre" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="date">Fecha</label>
    <input type="date" class="form-control" name="date" [(ngModel)]="newEvent.fecha">
  </div>
  <div class="form-group">
    <label for="description">Descripción</label>
    <textarea class="form-control" name="description" rows="3" [(ngModel)]="newEvent.descripcion"></textarea>
  </div>
  <div class="form-group">
    <label for="price">Precio</label>
    <input [(ngModel)]="newEvent.precio" type="number" class="form-control" name="price" min="0.00" max="10000.00" step="0.01" />
  </div>
  <div class="form-group">
    <label for="image">Imagen</label>
    <input [(ngModel)]="newEvent.imagen" type="file" class="form-control" name="image" #fileImage (change)="changeImage(fileImage)">
  </div>
  <img [src]="newEvent.imagen" alt="" class="img-thumbnail">
  <button type="submit" class="btn btn-primary">Create</button>
</form>
